
# dependencies
node_modules
yarn-error.log
package-lock.json

# production
dist
test.js
# misc
.DS_Store
lerna-debug.log

# editor
.idea

# template

note.md


packages/super-server/db.txt
packages/super-template/build
